@using MovieStore.Models

@model Movie
@{
    ViewData["Title"] = "Details";
}

<style>
    .header {
        font-weight: bold;
    }

    .grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        gap: 1rem;
    }
</style>

<h2>@Model.Title</h2>

<div class="grid">
    <label class="header">IMDB Rating</label>
    <p>@Model.IMDBRating</p>
    <label class="header">Genre</label>
    <p>@Model.Genre</p>
    <label class="header">Published</label>
    <p>@Model.PublishedDate.ToLongDateString()</p>
    <label class="header">Price</label>
    <p>@Model.Price Euro</p>
    <label class="header">Description</label>
    <p>@Model.Description</p>
    <label class="header">Image</label>
    <img src="@Model.ImageUrl" height="300" style="object-fit: cover" />
</div>