@model DemoMvcApp.Models.RecipeViewModel

@{
    ViewData["Title"] = "Details";
    var disabled = !User.Identity.IsAuthenticated;
}

<div class="main-container">
    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.ImageUrl" class="rounded img-fluid" />
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <form asp-area="" asp-controller="Recipes" asp-action="Order">
                        <div>
                            <h1 class="mb-2">@Model.Name</h1>
                            <h2 class="lead mb-3">@Model.MealType.First()</h2>
                            <div>
                                <span class="badge badge-secondary mr-3">@Model.Cuisine</span>
                            </div>
                            <div>
                                <ul class="text-small d-inline-block mb-3">
                                    @foreach (var ingredient in Model.Ingredients)
                                    {
                                        <li class=""> @ingredient</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="input-group mb-3">
                            <input type="number" name="quantity" value="1" step="1" min="1" />
                        </div>
                        <div class="btn-group mb-2">
                            <button type="submit" class="btn btn-primary btn-lg" disabled="@disabled">Order</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split dropdown-toggle-no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-dots-three-horizontal"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">Overview</h5>
                    <article>
                        <pre>@string.Join("\n", Model.Instructions);</pre>
                    </article>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
