@model IEnumerable<DemoMvcApp.Models.RecipeViewModel>

@{
    ViewData["Title"] = "Unsere Rezepte";
    var canOrder = User.IsInRole("User");
}
<!-- Copy from https://getbootstrap.com/docs/4.0/examples/album/ -->

<h1>Recipe Overview</h1>

@* <p style="text-align: center">
    <a role="button" class="btn btn-default"
       asp-action="Index"
       asp-route-pageNumber="1"
       asp-route-pageSize="12">
        |&lt; First
    </a>
    <a role="button" class="btn btn-default @prevDisabled"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-pageSize="12">
        &lt;&lt; Previous
    </a>
    <a role="button" class="btn btn-default @nextDisabled"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-pageSize="12">
        Next &gt;&gt;
    </a>
    <a role="button" class="btn btn-default"
       asp-action="Index"
       asp-route-pageNumber="@(Model.TotalPages)"
       asp-route-pageSize="12">
        Last &gt;|
    </a>
</p> *@

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name" style="height: 225px; display: block; object-fit: cover;">
                        <div class="card-body">
                            <p class="card-text">@recipe.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- Wir verwenden ein Mini-Formular, um einen POST-Request fuer die Methode 'Delete' an Server senden zu koennen -->
                                    <form id="@recipe.Id" method="post" asp-action="Delete" asp-route-id="@recipe.Id">
                                        <a role="button" class="btn btn-sm btn-outline-secondary" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">Details</a>
                                        @if (canOrder)
                                        {
                                            <a role="button" class="btn btn-sm btn-outline-secondary"
                                               asp-controller="Recipes" asp-action="Order" asp-route-id="@recipe.Id">Order</a>
                                        }
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Entfernen</button>
                                    </form>
                                </div>
                                <small class="text-muted">@recipe.PrepTimeMinutes + @recipe.CookTimeMinutes mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
