@model DemoMvcAuthApp.Models.RecipeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrepTimeMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrepTimeMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookTimeMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookTimeMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuisine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesPerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriesPerServing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageUrl" title="@Model.Name" alt="@Model.Name" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
